# Dependencies
node_modules/

# Production build
dist/


# TODO BRING ME BACK ON PRODUCTION
# Environment variables
# .env

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db